{% extends 'base.html' %}
{% block title %}Wyszukiwacz{% endblock %}
<head>
    <style>
        img {
            width:90px;
            height:90px;
        }
    </style>
</head>
{% block body %}
<div class="container">
  <div class="jumbotron" >
    <h1 >Jakiej gry poszukujesz? </h1>
    <p>Powiesz mi jakiego rodzaju gry poszukujesz, a ja dobiorę najodpowiedniejszą do Twoich potrzeb.</p>
  </div>
</div>
<!-- Tu jest lista gier, która się rozwija i wybiera i pokazuje gry tylko z danego typu
korzysta to z forms GameTypeForm, ale dlaczego on taki mądry i od razu robi mi rozwijana liste, to nie wiem -->
<form method="get", action="" id="searchform"></br>
<div class="table-responsive">
  <table class="table">
{{ form.as_table }}
  </table>

</div>
    </br><input type="submit" value="Wybierz">&nbsp;&nbsp;&nbsp;&nbsp
    <input type="button" value="Wróć do strony wyszukiwania" onclick="window.location.href = 'http://127.0.0.1:8000/a/'">
</form></br>
                    <!--To wyświetla wszystkie pozycje z bazy danych na stronie-->
<table class="table table-striped">
  <thead>
    <tr>
        <th scope="col">Nazwa gry</th>
        <th scope="col">Zdjecie</th>
        <th scope="col">Rodzaj</br> gry</th>
        <th scope="col">Mechaniki</th>
        <th scope="col">Minimalna </br>liczba</br> graczy</th>
        <th scope="col">Maksymalna </br>liczba </br>graczy</th>
        <th scope="col">Czas gry</br>(minuty)</th>
        <th scope="col">użytkownik</th>
    </tr>
  </thead>

  <tbody>
{% for game in game_list %}
    <tr>
        <td><a href="{{ game.get_absolute_url }} ">{{ game.name }}</a></td><!-- ten url tu prawidłowo prowadzi do GameDetailView -->
        <td>{% if game.image %}<img src="{{ game.image.url }}" alt="...">{% endif %}</td>
        <div>{% for game_type in game.game_type.all %}<td class="parentCell" title="{{ game_type.description }}"> {{ game_type.name }}{% endfor %}</td></div>
        <td>{% for mechanic_type in game.mechanic_type.all %}<div title="{{ mechanic_type.description }}">{{ mechanic_type.name }}{% if not forloop.last %}</br>{% endif %}{% endfor %}</div> </td>
        <td>{{ game.min_player }}</td>
        <td>{{ game.max_player }}</td>
        <td>{{ game.min_play_time }}</td>
        <td><a href="{{ game.user.get_absolute_url }}">{{ game.user }}</a>{% if not forloop.last %}, {% endif %}</td>
    </tr>
{% endfor %}
  </tbody>
</table>
{% endblock %}


{% block content %}
<div class="text-cente">
{% if is_paginated %}
  <ul class="pagination justify-content-center">
    {% if page_obj.has_previous %}
      <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
    {% else %}
      <li class="disabled"><span>&laquo;</span></li>
    {% endif %}
    {% for i in paginator.page_range %}
      {% if page_obj.number == i %}
        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
      {% else %}
        <li><a href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if page_obj.has_next %}
      <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
    {% else %}
      <li class="disabled"><span>&raquo;</span></li>
    {% endif %}
  </ul>
{% endif %}
</div>
{% endblock %}