<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
<div class="container">
<table style="width:100%" >
  <tr>
    <th>Nazwa gry</th>
    <th>Zdjęcie gry</th>
    <th>Rodzaj gry</th>
    <td>Minimalna liczba graczy</td>
    <td>Maksymalna liczba graczy</td>
    <td>Właściciele: </td>
  </tr>
  <tr>
    <td>{{ game.name }}</td>
    <td><img src="{{ game.image }}" alt="..."></td>
    <td>{{ game.game_type }}</td>
    <td>{{ game.min_player }}</td>
    <td>{{ game.max_player }}</td>
    <td>{% for owner in game.owner.all  %}{{ owner }}{% if not forloop.last %}, {% endif %} {% endfor %}</td>
  </tr>
</table>
    <input type="button" value="Wróć do strony wyszukiwania" onclick="window.location.href = 'http://127.0.0.1:8000/a/'">
</div>
</body>
</html>
