{% extends 'base.html' %}
{% block title %}{{ game.name }}{% endblock %}
<head>
    <style>
        img {
        width:2px
        }
    </style>
</head>
{% block body %}
<div class="table-responsive">
<table style="width:100%">
  <tr>
    <th>Nazwa gry</th>
    <th>Rodzaj gry</th>
    <td>Minimalna liczba graczy</td>
    <td>Maksymalna liczba graczy</td>
    <td>Czas gry<br>(minuty)</td>
    <td>Użytkownik: </td>
  </tr>
  <tr>
    <td>{{ game.name }}</td>
    <td>{{ game.game_type }}</td>
    <td>{{ game.min_player }}</td>
    <td>{{ game.max_player }}</td>
    <td>{{ game.min_play_time }}+</td>
    <td>{{ game.user }}</td>
  </tr>
</table><br><br>
    {% if game.image %}<img src="{{ game.image.url }}" alt="..." class="center">{% endif %}
    <p>{{game.description}}</p>
    <input type="button" value="Wróć do strony wyszukiwania" onclick="window.location.href = 'http://127.0.0.1:8000/a/'">
{% endblock %}
</div>