{% extends "base.html" %}

{% block title %}
test
{% endblock %}

{% block body %}
<p>test</p>
<table style="width:100%" >
   <ul>
       <li>Właściciel: {{ user }}</li>
       <li>Posiadasz następujące gry:</li>
   </ul>

    <li>test {{ game.name|length }}</li>

   {% for obj in user.game_set.all %}
   <li><a href="{{ obj.get_absolute_url }} "> {{ obj.name|length }}</a></li>
   {% if not forloop.last %} &nbsp
   {% endif %}
   {% endfor %}

   <input type="button" value="Wróć do strony wyszukiwania" onclick="window.location.href = 'http://127.0.0.1:8000/a/'">
</table>
{% endblock %}